<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <a class="nav-hollers" href="/hollers">Hollers</a>
        <a class="nav-home" href="/">Home</a>
    </nav>
    <div class="timeline">
        <div class="holler">
            <h3><%=holler.body%></h3>
            <img src='<%=holler.image%>'>
            <p><%=holler.createdAt%></p>
        </div>
    </div>
    <div>
        <p class="control">
            <form action="/hollers/<%= holler.id %>?_method=DELETE" method="POST">
                    <input class="button is-danger" id="delete-button" type="submit" value="Delete Holler"/>                    
            </form>
        </p>
        <a href="/hollers/<%=holler.id%>/edit"><button>Edit Holler</button></a>
    </div>
</body>
</html>